swagger: '2.0'
info:
  title: E-swipe
  description: Move your life forward with the E-swipe app
  version: 1.0.0
host: api.stardis.blue
schemes:
  - https
basePath: /v1
produces:
  - application/json
security:
  - auth: []
securityDefinitions:
  auth:
    type: apiKey
    in: header
    name: auth

# ============== #
#=- PARAMETERS -=#
# ================================== #
parameters:
  profileUUID:
    name: uuid
    in: path
    description: UUID of an User
    required: true
    type: string
    format: uuid
  chatUUID:
    name: uuid
    in: path
    description: UUID of a Chat
    required: true
    type: string
    format: uuid
  eventUUID:
    name: uuid
    in: path
    description: UUID of an Event
    required: true
    type: string
    format: uuid
  imageUUID:
    name: uuid
    in: path
    description: UUID of the image
    required: true
    type: string
  auth:
    name: auth
    in: query
    description: OAuth authentification token
    type: string
    required: true
  latitude:
    name: latitude
    in: query
    description: Latitude
    required: true
    type: number
    format: double
  longitude:
    name: longitude
    in: query
    description: Longitude
    required: true
    type: number
    format: double
  radius:
    name: raduis
    in: query
    description: 'raduis of detection (`default: 50, min: 10, max: 200` )'
    type: integer
    minimum: 10
    default: 50
    maximum: 200
  offset:
    name: offset
    type: integer
    in: query
    description: 'offset of the results (`default: 0`)'
    default: 0
  limit:
    name: limit
    type: integer
    in: query
    description: 'number of items (`default: 10, min: 10, max: 200`)'
    minimum: 10
    default: 10
    maximum: 200

# ========= #
#=- PATHS -=#
# ================================== #
paths:

  #=- User -=#
  # ========== #
  /login/:
    post:
      summary: Classic Login
      parameters:
        - name: email
          in: query
          required: true
          type: string
          format: email
          description: email
        - name: password
          in: query
          required: true
          type: string
          description: User's password
        - name: instance_id
          in: query
          required: true
          type: string
          description: Firebase Instance Id
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Token'
        '401':
          description: bad login
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Login
      security:
        []
  /login/facebook:
    post:
      summary: facebook authentification
      parameters:
        - name: facebook_auth
          in: query
          required: true
          type: string
          description: Facebook authentification id
        - name: instance_id
          in: query
          required: true
          type: string
          description: Firebase Instance Id
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Token'
        '401':
          description: bad login
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Login
      security:
        []
  /logout:
    get:
      summary: logout from application
      responses:
        '200':
          description: Success
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Login
  /users/:
    post:
      summary: Create a new user
      parameters:
        - name: user
          in: body
          required: true
          schema:
            $ref: '#/definitions/UserFacebookCreate'
      responses:
        '201':
          description: Created
        '401':
          description: bad login
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - User
    get:
      deprecated: true
      summary: Get swipable users (per group of 10) respecte la convention mais n'est pas le plus fidèle
      parameters:
        - $ref: '#/parameters/latitude'
        - $ref: '#/parameters/longitude'
        - $ref: '#/parameters/radius'
      responses:
        '200':
          description: Product
          schema:
            type: array
            items:
              $ref: '#/definitions/ShortProfile'
        '401':
          description: bad login
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - User - Swipe
  /users/{uuid}:
    get:
      summary: get user
      parameters:
        - $ref: '#/parameters/profileUUID'
      responses:
        '200':
          description: Product
          schema:
            $ref: '#/definitions/User'
        '401':
          description: bad login
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - User
  /profiles:
    get:
      summary: Get swipable users (per group of 10)
      parameters:
        - $ref: '#/parameters/latitude'
        - $ref: '#/parameters/longitude'
        - $ref: '#/parameters/radius'
      responses:
        '200':
          description: Product
          schema:
            type: array
            items:
              $ref: '#/definitions/ShortProfile'
        '401':
          description: bad login
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - User - Swipe
  /users/{uuid}/accept:
    post:
      summary: accept
      parameters:
        - $ref: '#/parameters/profileUUID'
      responses:
        '204':
          description: Success
        '401':
          description: bad login
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - User - Swipe
  /users/{uuid}/decline:
    post:
      summary: refuse
      parameters:
        - $ref: '#/parameters/profileUUID'
      responses:
        '204':
          description: Success
        '401':
          description: bad login
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - User - Swipe
  /me:
    get:
      summary: my profile
      responses:
        '200':
          description: test
          schema:
            $ref: '#/definitions/User'
        '401':
          description: bad login
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - User - Profil
    patch:
      summary: update my profile
      description: |
        Used to update :
          - email
          - description
          - default_picture
          - if the profile is visible
      parameters:
        - name: user
          in: body
          schema:
            $ref: '#/definitions/UserPatch'
      responses:
        '204':
          description: Success
        '401':
          description: bad login
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - User - Profil
    put:
      deprecated: true
      summary: update my profile, use PATCH instead
      description: |
        Used to update :
          - email
          - description
          - default_picture
          - if the profile is visible
      parameters:
        - name: user
          in: body
          schema:
            $ref: '#/definitions/UserPatch'
      responses:
        '204':
          description: Success
        '401':
          description: bad login
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - User - Profil
  /me/photos:
    post:
      summary: add a photo
      consumes:
        - multipart/form-data
      parameters:
        - name: photo
          type: file
          in: formData
          description: image
      responses:
        '204':
          description: Success
        '401':
          description: bad login
      tags:
        - User - Profil
  /me/photos/{uuid}:
    delete:
      summary: delete
      parameters:
        - $ref: '#/parameters/imageUUID'
      responses:
        '204':
          description: Success
        '401':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - User - Profil
  /me/chats:
    get:
      summary: get all my chats
      parameters:
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
      responses:
        '200':
          description: list of chats
          schema:
            type: array
            items:
              $ref: '#/definitions/ShortChat'
        '401':
          description: bad login
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - User - Profil
  /me/matches:
    get:
      summary: get my matches
      parameters:
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
      responses:
        '200':
          description: list of profils
          schema:
            type: array
            items:
              $ref: '#/definitions/ShortProfile'
        '401':
          description: bad login
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - User - Profil
  /me/interests:
    get:
      summary: get all my interests
      responses:
        '200':
          description: list of all my interests
          schema:
            type: array
            items:
              $ref: '#/definitions/Interest/properties/name'
        '401':
          description: bad login
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - User - Profil
    put:
      summary: add interests or replace
      parameters:
        - name: interests
          in: body
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/Interest/properties/name'
      responses:
        '201':
          description: Created
        '204':
          description: No interest modified
        '401':
          description: bad login
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - User - Profil

  #=- Chat -=#
  # ========== #
  /chats/{uuid}:
    get:
      summary: Get chat info
      parameters:
        - $ref: '#/parameters/chatUUID'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - name: since
          in: query
          description: time last query (timestamp)
          type: integer
          default: 0
      responses:
        '200':
          description: all messages of chat ordered by last message
          schema:
            $ref: '#/definitions/Chat'
        '401':
          description: bad login
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Chat
    post:
      summary: write message
      description: Write a message in the chat
      parameters:
        - $ref: '#/parameters/chatUUID'
        - name: content
          in: query
          type: string
          required: true
          description: content of the message
      responses:
        '200':
          description: Success
        '401':
          description: bad login
        default:
          description: Unexpected Error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Chat

  #=- Event -=#
  # ========== #
  /events:
    get:
      summary: List of events
      description: Get all the events from a position
      parameters:
        - $ref: '#/parameters/latitude'
        - $ref: '#/parameters/longitude'
        - $ref: '#/parameters/radius'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
      responses:
        '200':
          description: an array of events
          schema:
            type: array
            items:
              $ref: '#/definitions/Event'
        '401':
          description: bad login
        default:
          description: Unexpected Error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Event
  /events/{uuid}:
    get:
      summary: Get an event
      description: get all the information about an event
      parameters:
        - $ref: '#/parameters/eventUUID'
      responses:
        '200':
          description: Event
          schema:
            $ref: '#/definitions/Event'
        '401':
          description: bad login
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Event
  /events/{uuid}/participate:
    post:
      summary: accept
      parameters:
        - $ref: '#/parameters/eventUUID'
      responses:
        '204':
          description: Success
        '401':
          description: bad login
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Event
  /events/{uuid}/refuse:
    post:
      summary: Don't participate
      parameters:
        - $ref: '#/parameters/eventUUID'
      responses:
        '204':
          description: Success
        '401':
          description: bad login
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Event
  /events/{uuid}/tags:
    get:
      summary: returns all the tags of the event
      parameters:
        - $ref: '#/parameters/eventUUID'
      responses:
        '200':
          description: list of tags of the event
          schema:
            $ref: '#/definitions/Event/properties/tags'
        '401':
          description: bad login
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      tags:
        - Event

# =============== #
#=- DEFINITIONS -=#
# ================================== #
definitions:

  #=- Events -=#
  # ========== #
  Event:
    title: Event
    type: object
    description: Event
    discriminator: uuid
    required:
      - uuid
    properties:
      uuid:
        type: string
        format: uuid
        description: Event UUID
      name:
        type: string
        description: name of the event
      default_picture:
        $ref: '#/definitions/Image'
      images:
        type: array
        items:
          $ref: '#/definitions/Image'
        description: Images of the event
      position:
        $ref: '#/definitions/Position'
      people:
        type: array
        items:
          $ref: '#/definitions/ThumbProfile'
      tags:
        type: array
        items:
          $ref: '#/definitions/Interest'
      date_begin:
        type: string
        format: date
      date_end:
        type: string
        format: date
  ShortEvent:
    title: ShortEvent
    type: object
    discriminator: uuid
    required:
      - uuid
    readOnly: true
    properties:
      uuid:
        $ref: '#/definitions/Event/properties/uuid'
      name:
        $ref: '#/definitions/Event/properties/name'
      default_picture:
        $ref: '#/definitions/Image/properties/url'

  #=- User -=#
  # ======== #
  User:
    title: User
    type: object
    discriminator: uuid
    required:
      - uuid
    readOnly: true
    properties:
      uuid:
        type: string
        format: uuid
        description: User UUID
      first_name:
        type: string
      last_name:
        type: string
      date_of_birth:
        type: string
        format: date
      description:
        type: string
      email:
        type: string
        format: email
      facebook_id:
        type: string
      events:
        type: array
        items:
          $ref: '#/definitions/ShortEvent'
      default_picture:
        $ref: '#/definitions/Image'
      pictures:
        type: array
        description: images of the profile.
        items:
          $ref: '#/definitions/Image'
      genders:
        type: array
        items:
          $ref: '#/definitions/Gender/properties/name'
        description: genders of the user
      looking_for:
        type: array
        items:
          $ref: '#/definitions/Gender/properties/name'
        description: looking for
      is_visible:
        type: boolean
        description: si le profil est visible
  ShortProfile:
    title: ShortProfile
    type: object
    readOnly: true
    properties:
      uuid:
        $ref: '#/definitions/User/properties/uuid'
      first_name:
        $ref: '#/definitions/User/properties/first_name'
      last_name:
        $ref: '#/definitions/User/properties/last_name'
      date_of_birth:
        $ref: '#/definitions/User/properties/date_of_birth'
      default_picture:
        $ref: '#/definitions/Image/properties/url'
  ThumbProfile:
    title: ThumbProfile
    type: object
    readOnly: true
    properties:
      uuid:
        $ref: '#/definitions/User/properties/uuid'
      first_name:
        $ref: '#/definitions/User/properties/first_name'
      last_name:
        $ref: '#/definitions/User/properties/last_name'
      default_picture:
        $ref: '#/definitions/Image/properties/url'
  UserPatch:
    title: UserPatch
    type: object
    properties:
      email:
        $ref: '#/definitions/User/properties/email'
      description:
        $ref: '#/definitions/User/properties/description'
      default_picture:
        $ref: '#/definitions/Image'
      is_visible:
        $ref: '#/definitions/User/properties/is_visible'
  UserFacebookCreate:
    title: UserFacebookCreate
    type: object
    required:
      - first_name
      - last_name
      - date_of_birth
      - facebook_id
    properties:
      first_name:
        $ref: '#/definitions/User/properties/first_name'
      last_name:
        $ref: '#/definitions/User/properties/last_name'
      date_of_birth:
        $ref: '#/definitions/User/properties/date_of_birth'
      email:
        $ref: '#/definitions/User/properties/email'
      facebook_id:
        $ref: '#/definitions/User/properties/facebook_id'

  #=- Misc -=#
  # ======== #
  Image:
    title: Image
    type: object
    properties:
      uuid:
        type: string
        format: uuid
        description: uuid of the image
      url:
        type: string
        description: url of the image
  Gender:
    title: Gender
    type: object
    description: Gender
    properties:
      id:
        type: integer
        description: gender type
      name:
        type: string
        description: gender name
  Error:
    title: Error
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
  Position:
    title: Position
    type: object
    properties:
      latitude:
        type: number
        format: double
      longitude:
        type: number
        format: double
  Interest:
    title: Interest
    type: object
    required:
      - uuid
    properties:
      uuid:
        type: string
        format: uuid
      name:
        type: string

  #=- Chat -=#
  # ======== #
  Chat:
    title: Chat
    type: object
    description: Messagerie instantanée
    readOnly: true
    discriminator: uuid
    required:
      - uuid
      - user
      - messages
    properties:
      uuid:
        type: string
        format: uuid
        description: Chat UUID
      user:
        $ref: '#/definitions/ThumbProfile'
      messages:
        type: array
        items:
          $ref: '#/definitions/Message'
  ShortChat:
    title: ShortChat
    type: object
    description: Messagerie instantanée
    readOnly: true
    discriminator: uuid
    required:
      - uuid
      - user
      - last_message
    properties:
      uuid:
        $ref: '#/definitions/Image/properties/uuid'
      user:
        $ref: '#/definitions/ThumbProfile'
      last_message:
        $ref: '#/definitions/Message'
  Message:
    title: Message
    type: object
    description: A message from Chat
    required:
      - sender
      - content
    properties:
      sender:
        $ref: '#/definitions/User/properties/uuid'
      content:
        type: string
      date:
        type: string
        format: date
  Token:
    title: Token
    type: object
    properties:
      auth:
        type: string