swagger: '2.0'
info:
  title: E-swipe
  description: Move your life forward with the E-swipe app
  version: 1.0.0
host: api.stardis.blue
schemes:
  - https
basePath: /v1
produces:
  - application/json
security:
  - auth: []
securityDefinitions:
  auth:
    type: apiKey
    in: header
    name: auth

# ============== #
#=- PARAMETERS -=#
# ================================== #
parameters:
  profileUUID:
    name: uuid
    in: path
    description: UUID of an User
    required: true
    type: string
    format: uuid
  chatUUID:
    name: uuid
    in: path
    description: UUID of a Chat
    required: true
    type: string
    format: uuid
  eventUUID:
    name: uuid
    in: path
    description: UUID of an Event
    required: true
    type: string
    format: uuid
  imageUUID:
    name: uuid
    in: path
    description: UUID of the image
    required: true
    type: string
  auth:
    name: auth
    in: query
    description: OAuth authentification token
    type: string
    required: true
  latitude:
    name: latitude
    in: query
    description: Latitude
    required: true
    type: number
    format: double
  longitude:
    name: longitude
    in: query
    description: Longitude
    required: true
    type: number
    format: double
  radius:
    name: raduis
    in: query
    description: 'raduis of detection (`default: 50, min: 10, max: 200` )'
    type: integer
    minimum: 10
    default: 50
    maximum: 200
  offset:
    name: offset
    type: integer
    in: query
    description: 'offset of the results (`default: 0`)'
    default: 0
  limit:
    name: limit
    type: integer
    in: query
    description: 'number of items (`default: 10, min: 10, max: 200`)'
    minimum: 10
    default: 10
    maximum: 200

# ========= #
#=- PATHS -=#
# ================================== #
responses:
  200: # changé à chaque fois
    description: 'SUCCESS: OK'
  201: # souvent changé
    description: 'SUCCESS: Created'
  204:
    description: 'SUCCESS: No Content'
  401:
    description: 'FAIL: Unauthorized'
  422:
    description: 'FAIL: incorrect parameters'
    schema:
      title: FieldError
      type: object
      properties:
        code:
          type: integer
        field:
          type: string
        message:
          type: string
  default:
    description: Unexpected error
    schema:
      $ref: '#/definitions/Error'



# ========= #
#=- PATHS -=#
# ================================== #
paths:

  #=- User -=#
  # ========== #
  /login/:
    post:
      summary: Classic Login
      parameters:
        - name: email
          in: query
          required: true
          type: string
          format: email
          description: email
        - name: password
          in: query
          required: true
          type: string
          description: User's password
        - name: instance_id
          in: query
          required: true
          type: string
          description: Firebase Instance Id
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Token'
        401:
          $ref: '#/responses/401'
        422:
          $ref: '#/responses/422'
        default:
          $ref: '#/responses/default'
      tags:
        - Login
      security:
        []
  /login/facebook:
    post:
      summary: facebook authentification
      parameters:
        - name: facebook_auth
          in: query
          required: true
          type: string
          description: Facebook authentification id
        - name: instance_id
          in: query
          required: true
          type: string
          description: Firebase Instance Id
        - name: user
          in: body
          required: true
          schema:
            $ref: '#/definitions/UserFacebook'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Token'
        '401':
          $ref: '#/responses/401'
        422:
          $ref: '#/responses/422'
        default:
          $ref: '#/responses/default'
      tags:
        - Login
      security:
        []
  /logout:
    get:
      summary: logout from application
      responses:
        200:
          description: Success
        422:
          $ref: '#/responses/422'
        default:
          $ref: '#/responses/default'
      tags:
        - Login
  /users/:
    post:
      summary: Create a new user
      parameters:
        - name: user
          in: body
          required: true
          schema:
            $ref: '#/definitions/UserCreate'
      responses:
        201:
          description: created
          schema:
            $ref: '#/definitions/Token'
        401:
          $ref: '#/responses/401'
        422:
          $ref: '#/responses/422'
        default:
          $ref: '#/responses/default'
      tags:
        - User
  /users/{uuid}:
    get:
      summary: get user
      parameters:
        - $ref: '#/parameters/profileUUID'
      responses:
        200:
          description: Product
          schema:
            $ref: '#/definitions/User'
        401:
          $ref: '#/responses/401'
        422:
          $ref: '#/responses/422'
        default:
          $ref: '#/responses/default'
      tags:
        - User
  /profils:
    get:
      summary: Get swipable users (per group of 10)
      parameters:
        - $ref: '#/parameters/latitude'
        - $ref: '#/parameters/longitude'
        - $ref: '#/parameters/radius'
      responses:
        200:
          description: Product
          schema:
            type: array
            items:
              $ref: '#/definitions/UserCard'
        401:
          $ref: '#/responses/401'
        422:
          $ref: '#/responses/422'
        default:
          $ref: '#/responses/default'
      tags:
        - User - Swipe
  /users/{uuid}/accept:
    post:
      summary: accept
      parameters:
        - $ref: '#/parameters/profileUUID'
      responses:
        204:
          $ref: '#/responses/204'
        401:
          $ref: '#/responses/401'
        422:
          $ref: '#/responses/422'
        default:
          $ref: '#/responses/default'
      tags:
        - User - Swipe
  /users/{uuid}/decline:
    post:
      summary: refuse
      parameters:
        - $ref: '#/parameters/profileUUID'
      responses:
        204:
          $ref: '#/responses/204'
        401:
          $ref: '#/responses/401'
        422:
          $ref: '#/responses/422'
        default:
          $ref: '#/responses/default'
      tags:
        - User - Swipe
  /me:
    get:
      summary: my profile
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UserInfo'
        401:
          $ref: '#/responses/401'
        422:
          $ref: '#/responses/422'
        default:
          $ref: '#/responses/default'
      tags:
        - User - Profil
    patch:
      summary: update my profile
      description: |
        Used to update :
          - email
          - description
          - default_picture
          - if the profile is visible
      parameters:
        - name: user
          in: body
          schema:
            $ref: '#/definitions/UserPatch'
      responses:
        204:
          $ref: '#/responses/204'
        401:
          $ref: '#/responses/401'
        422:
          $ref: '#/responses/422'
        default:
          $ref: '#/responses/default'
      tags:
        - User - Profil
  /me/password:
    put:
      summary: update password
      parameters:
        - name: password
          in: query
          type: string
          format: password
          required: true
          description: new password
      responses:
        204:
          $ref: '#/responses/204'
        401:
          $ref: '#/responses/401'
        422:
          $ref: '#/responses/422'
        default:
          $ref: '#/responses/default'
      tags:
        - User - Profil
  /me/photos:
    post:
      summary: add a photo
      consumes:
        - multipart/form-data
      parameters:
        - name: photo
          type: file
          in: formData
          description: image
      responses:
        201:
          description: CREATED
          schema:
            $ref: '#/definitions/Image'
        401:
          $ref: '#/responses/401'
        422:
          $ref: '#/responses/422'
        default:
          $ref: '#/responses/default'
      tags:
        - User - Profil
        - User - Photo
  /me/photos/{uuid}:
    delete:
      summary: delete
      parameters:
        - $ref: '#/parameters/imageUUID'
      responses:
        204:
          $ref: '#/responses/204'
        401:
          $ref: '#/responses/401'
        422:
          $ref: '#/responses/422'
        default:
          $ref: '#/responses/default'
      tags:
        - User - Profil
        - User - Photo
  /me/photos/order:
    put:
      summary: change photo order
      parameters:
        - name: images
          in: body
          schema:
            type: array
            items:
              $ref: '#/definitions/ImageCard'
      responses:
        204:
          $ref: '#/responses/204'
        401:
          $ref: '#/responses/401'
        422:
          $ref: '#/responses/422'
        default:
          $ref: '#/responses/default'
      tags:
        - User - Profil
        - User - Photo
  /me/chats:
    get:
      summary: get all my chats
      parameters:
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
      responses:
        200:
          description: list of chats
          schema:
            type: array
            items:
              $ref: '#/definitions/ChatCard'
        401:
          $ref: '#/responses/401'
        422:
          $ref: '#/responses/422'
        default:
          $ref: '#/responses/default'
      tags:
        - User - Profil
  #/me/matches:
  #  get:
  #    summary: get my matches
  #    parameters:
  #      - $ref: '#/parameters/offset'
  #      - $ref: '#/parameters/limit'
  #    responses:
  #      200:
  #        description: list of profils
  #        schema:
  #          type: array
  #          items:
  #            $ref: '#/definitions/UserCard'
  #      '401':
  #        description: bad login
  #      default:
  #        description: Unexpected error
  #        schema:
  #          $ref: '#/definitions/Error'
  #    tags:
  #      - User - Profil

  #=- Chat -=#
  # ========== #
  /chats/{uuid}:
    get:
      summary: Get chat info
      parameters:
        - $ref: '#/parameters/chatUUID'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
        - name: since
          in: query
          description: time last query (timestamp)
          type: integer
          default: 0
      responses:
        200:
          description: all messages of chat ordered by last message
          schema:
            $ref: '#/definitions/Chat'
        401:
          $ref: '#/responses/401'
        422:
          $ref: '#/responses/422'
        default:
          $ref: '#/responses/default'
      tags:
        - Chat
    post:
      summary: write message
      description: Write a message in the chat
      parameters:
        - $ref: '#/parameters/chatUUID'
        - name: message
          in: body
          schema:
            $ref: '#/definitions/Message'
      responses:
        201:
          $ref: '#/responses/201'
        401:
          $ref: '#/responses/401'
        422:
          $ref: '#/responses/422'
        default:
          $ref: '#/responses/default'
      tags:
        - Chat

  #=- Event -=#
  # ========== #
  /events:
    get:
      summary: List of events
      description: Get all the events from a position
      parameters:
        - $ref: '#/parameters/latitude'
        - $ref: '#/parameters/longitude'
        - $ref: '#/parameters/radius'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/limit'
      responses:
        200:
          description: an array of events
          schema:
            type: array
            items:
              $ref: '#/definitions/EventCard'
        401:
          $ref: '#/responses/401'
        422:
          $ref: '#/responses/422'
        default:
          $ref: '#/responses/default'
      tags:
        - Event
  /events/{uuid}:
    get:
      summary: Get an event
      description: get all the information about an event
      parameters:
        - $ref: '#/parameters/eventUUID'
      responses:
        200:
          description: Event
          schema:
            $ref: '#/definitions/Event'
        401:
          $ref: '#/responses/401'
        422:
          $ref: '#/responses/422'
        default:
          $ref: '#/responses/default'
      tags:
        - Event
  /events/{uuid}/participate:
    post:
      summary: accept
      parameters:
        - $ref: '#/parameters/eventUUID'
      responses:
        204:
          $ref: '#/responses/204'
        401:
          $ref: '#/responses/401'
        422:
          $ref: '#/responses/422'
        default:
          $ref: '#/responses/default'
      tags:
        - Event
  /events/{uuid}/refuse:
    post:
      summary: Don't participate
      parameters:
        - $ref: '#/parameters/eventUUID'
      responses:
        204:
          $ref: '#/responses/204'
        401:
          $ref: '#/responses/401'
        422:
          $ref: '#/responses/422'
        default:
          $ref: '#/responses/default'
      tags:
        - Event

# =============== #
#=- DEFINITIONS -=#
# ================================== #
definitions:

  #=- Events -=#
  # ========== #
  Event:
    title: Event
    type: object
    description: Event
    discriminator: uuid
    properties:
      uuid:
        type: string
        format: uuid
        description: Event UUID
      name:
        type: string
        description: name of the event
      description:
        type: string
        description : description of the event
      images:
        type: array
        items:
          $ref: '#/definitions/Image'
        description: Images of the event
      position:
        $ref: '#/definitions/Position'
      participants:
        type: number
        format: integer
        description: number of people
      interests:
        type: array
        items:
          $ref: '#/definitions/Interest'
      date_begin:
        type: string
        format: datetime
      date_end:
        type: string
        format: datetime
      participating:
        type: boolean
        description: "true if is participating"
  EventCard:
    title: EventCard
    type: object
    readOnly: true
    properties:
      uuid:
        $ref: '#/definitions/Event/properties/uuid'
      name:
        $ref: '#/definitions/Event/properties/name'
      picture_url:
        $ref: '#/definitions/Image/properties/url'
      position:
        $ref: '#/definitions/Event/properties/position'

  #=- User -=#
  # ======== #
  UserInfo:
    title: UserInfo
    type: object
    discriminator: uuid
    required:
      - uuid
    readOnly: true
    properties:
      uuid:
        type: string
        format: uuid
        description: User UUID
      first_name:
        type: string
      last_name:
        type: string
      date_of_birth:
        type: string
        format: date
      description:
        type: string
      picture_url:
        $ref: '#/definitions/Image/properties/url'
      #genders:
      #  type: array
      #  items:
      #    $ref: '#/definitions/Gender/properties/name'
      #  description: genders of the user
      gender:
        $ref: '#/definitions/Gender/properties/name'
      looking_for:
        type: array
        items:
          $ref: '#/definitions/Gender/properties/name'
        description: looking for
      looking_for_age_min:
        type: number
        format: int
        minimum: 18
        maximum: 100
        default: "age+10"
      looking_for_age_max:
        type: number
        format: int
        minimum: 18
        maximum: 100
        default: "age-10"
      is_visible:
        type: boolean
        description: si le profil est visible
        default: true
      position:
        $ref: '#/definitions/Position'
  User:
    title: User
    type: object
    discriminator: uuid
    required:
      - uuid
    readOnly: true
    properties:
      uuid:
        $ref: '#/definitions/UserInfo/properties/uuid'
      first_name:
        $ref: '#/definitions/UserInfo/properties/first_name'
      last_name:
        $ref: '#/definitions/UserInfo/properties/last_name'
      date_of_birth:
        $ref: '#/definitions/UserInfo/properties/date_of_birth'
      description:
        $ref: '#/definitions/UserInfo/properties/description'
      #genders:
        #$ref: '#/definitions/UserInfo/properties/genders'
      gender:
        $ref: '#/definitions/UserInfo/properties/gender'
      position:
        $ref: '#/definitions/UserInfo/properties/position'
      pictures:
        type: array
        description: images of the profile.
        items:
          $ref: '#/definitions/Image'
      events:
        type: array
        items:
          $ref: '#/definitions/EventCard'
        description: events of the user
  UserCard:
    title: UserCard
    type: object
    readOnly: true
    properties:
      uuid:
        $ref: '#/definitions/User/properties/uuid'
      first_name:
        $ref: '#/definitions/User/properties/first_name'
      last_name:
        $ref: '#/definitions/User/properties/last_name'
      date_of_birth:
        $ref: '#/definitions/User/properties/date_of_birth'
      picture_url:
        $ref: '#/definitions/Image/properties/url'
      position:
        $ref: '#/definitions/User/properties/position'
  UserPatch:
    title: UserPatch
    type: object
    properties:
      first_name:
        $ref: '#/definitions/UserInfo/properties/first_name'
      last_name:
        $ref: '#/definitions/UserInfo/properties/last_name'
      date_of_birth:
        $ref: '#/definitions/UserInfo/properties/date_of_birth'
      #email:
      #  type: string
      #  format: email
      description:
        $ref: '#/definitions/UserInfo/properties/description'
      gender:
        $ref: '#/definitions/UserInfo/properties/gender'
      looking_for:
        $ref: '#/definitions/UserInfo/properties/looking_for'
      looking_for_age_min:
        $ref: '#/definitions/UserInfo/properties/looking_for_age_min'
      looking_for_age_max:
        $ref: '#/definitions/UserInfo/properties/looking_for_age_max'
      is_visible:
        $ref: '#/definitions/UserInfo/properties/is_visible'
  UserCreate:
    title: UserCreate
    type: object
    required:
      - first_name
      - last_name
      - date_of_birth
      - gender
      - email
      - password
    properties:
      first_name:
        $ref: '#/definitions/UserInfo/properties/first_name'
      last_name:
        $ref: '#/definitions/UserInfo/properties/last_name'
      date_of_birth:
        $ref: '#/definitions/UserInfo/properties/date_of_birth'
      gender:
        $ref: '#/definitions/UserInfo/properties/gender'
      email:
        type: string
        format: email
      password:
        type: string
        format: password
        description: password of the user
  UserFacebook:
    title: UserFacebook
    type: object
    required:
      - first_name
      - last_name
      - date_of_birth
      - gender
    properties:
      first_name:
        $ref: '#/definitions/UserInfo/properties/first_name'
      last_name:
        $ref: '#/definitions/UserInfo/properties/last_name'
      date_of_birth:
        $ref: '#/definitions/UserInfo/properties/date_of_birth'
      gender:
        $ref: '#/definitions/UserInfo/properties/gender'
      email:
        type: string
        format: email


  #=- Misc -=#
  # ======== #
  Image:
    title: Image
    type: object
    properties:
      uuid:
        type: string
        format: uuid
        description: uuid of the image
      url:
        type: string
        description: url of the image
      order:
        type: number
        format: int
        description: position de l'image
  ImageCard:
    title: ImageCard
    type: object
    properties:
      uuid:
        type: string
        format: uuid
        description: uuid of the image
      order:
        type: number
        format: int
        description: position de l'image
  Gender:
    title: Gender
    type: object
    description: Gender
    properties:
      id:
        type: integer
        description: gender type
      name:
        type: string
        description: gender name
        example: "male"
  Error:
    title: Error
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
  Position:
    title: Position
    type: object
    properties:
      latitude:
        type: number
        format: double
        description: latitude
      longitude:
        type: number
        format: double
        description: longitude
  Interest:
    title: Interest
    type: object
    required:
      - uuid
    properties:
      uuid:
        type: string
        format: uuid
        description : interest uuid
      name:
        type: string
        description: interest name

  #=- Chat -=#
  # ======== #
  Chat:
    title: Chat
    type: object
    description: Messagerie instantanée
    readOnly: true
    discriminator: uuid
    properties:
      uuid:
        type: string
        format: uuid
        description: Chat UUID
      user:
        $ref: '#/definitions/UserCard'
      last_message_content:
        $ref: '#/definitions/Message/properties/content'
      messages:
        type: array
        items:
          $ref: '#/definitions/Message'
  ChatCard:
    title: ChatCard
    type: object
    description: Messagerie instantanée
    readOnly: true
    discriminator: uuid
    required:
      - uuid
      - user
      - last_message_content
    properties:
      uuid:
        $ref: '#/definitions/Image/properties/uuid'
      user:
        $ref: '#/definitions/UserCard'
      last_message_content:
        $ref: '#/definitions/Message/properties/content'
  Message:
    title: Message
    type: object
    description: A message from Chat
    required:
      - user_id
      - content
      - date
    properties:
      user_id:
        $ref: '#/definitions/User/properties/uuid'
      content:
        type: string
      date:
        type: string
        format: date
  Token:
    title: Token
    type: object
    properties:
      auth:
        type: string
